body{
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    padding: 20px;
}
h1{
    text-align: center;
    color: black;
}
.example{
    background-color: rgb(182, 196, 209);
    border-left: 5px solid blueviolet;
    margin: 20px auto;
    padding: 20px;
    max-width: 700px;
    border-radius: 8px;
}
.named{
    color: greenyellow;
}
.hex{
    color: orange;
}
.rgb{
    color: rgb(255, 0, 255);
}

.rgba{
    background-color: rgb(51, 46, 46) (0, 0, 0, 0.1);

}
.hsl{
    color: hsl(120, 100%, )
}